services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env
    

volumes:
  app:
  postgres_data:
