services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    command: >
      sh -c "alembic upgrade head &&
            uvicorn main:app --host 0.0.0.0 --port 8000"

  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    env_file:
      - .env
    

volumes:
  app:
  postgres_data:
